body {
    font-family: 'Courier New', monospace;
    background: #282c34;
    color: #abb2bf;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    color: #61dafb;
    animation: slideInFromTop 1s ease-in-out, fadeIn 1s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #98c379;
}

.section {
    margin-bottom: 20px;
}

#projects ul li {
    transition: transform 0.3s ease-in-out;
}

#projects ul li:hover {
    transform: translateX(10px);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #61dafb;
    color: #282c34;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #98c379;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
