body {
    font-family: 'Courier New', monospace;
    background: #282c34;
    color: #abb2bf;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    width: 80%; 
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #61dafb;
    animation: slideInFromTop 1s ease-in-out, fadeIn 1s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #98c379;
}

.section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #61dafb;
    color: #282c34;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #98c379;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background: #3a3f47;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.project-info {
    margin-bottom: 20px;
    flex-grow: 1;
}

.project-description {
    flex-grow: 1;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 20px;
}

h3 {
    color: #61dafb;
    margin: 0 0 10px;
}

.tech-stack {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tech {
    background: #61dafb;
    color: #282c34;
    padding: 5px 10px;
    border-radius: 5px;
}
