.app {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  padding-top: 3rem;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-content.home-page {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-content.home-page {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
