.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}

.scroll-track {
  display: flex;
  gap: 2rem;
  width: fit-content;
  will-change: transform;
}

.scroll-track:not(.reverse) {
  animation: scroll-left 30s linear infinite;
}

.scroll-track.reverse {
  animation: scroll-right 30s linear infinite;
}

.scroll-track img {
  height: 100%;
  max-height: 50px;
  width: auto;
  object-fit: contain;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-33.333%, 0, 0);
  }
}

@keyframes scroll-right {
  0% {
    transform: translate3d(-33.333%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
